RewriteEngine On

# Enforce HTTPS and www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://www.%1%{REQUEST_URI} [L,NE,R=301]

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# Custom Routes
RewriteRule ^av/?$ pages/av.html [L]
RewriteRule ^bikes/?$ pages/bikes.html [L]
RewriteRule ^web/?$ pages/web.html [L]
RewriteRule ^sim/?$ pages/sim.html [L]

# Error Pages
ErrorDocument 404 /index.html